@import "tailwindcss";

@theme {
  --color-eco-50: #f0fdf4;
  --color-eco-100: #dcfce7;
  --color-eco-500: #22c55e;
  --color-eco-600: #16a34a;
  --color-eco-700: #15803d;
  --color-eco-900: #14532d;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
